@model BOL.tbl_Category
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Category</h2>

@if (TempData["Msg"] != null)
{
    <h4 class="danger">@TempData["Msg"].ToString()</h4>
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Category", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Create Here</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryName)
            @Html.ValidationMessageFor(model => model.CategoryName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryDesc)
            @Html.ValidationMessageFor(model => model.CategoryDesc)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
