@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Rebellious Me!</h3>
    <img src="~/Images/Profile.jpg" alt="ProfilePic" />
    <hr />
    <p>
        Hi there! I’m <mark>Mohammad Sarfaraz</mark>. But, It’s totally cool if you call me Sarfaraz or Sarfu. Information is what the world dwells on and so do Me and My work! I’m a Software Engineer that means I do a lot of programming and coding stuff. But believe me, I enjoy blogging more than that and this is super awesome! I read a lot – mostly fiction novels but non fiction too. Music is what excites me, gives energy to my soul. Usually I listen to rock music, especially of Linkin Park, Eminem's too during gym workout. I love Hindi classic songs of Mohammad Rafi. When it comes to dancing I can work out some freaking awesome moves. Hell yeah! I love playing those dirty games too, and by that I mean football and Volleyball in the muddy rain water which is absolute fun! Swimming is my best exercising routine other than gymming. My love for food is an interminable story, It’s as if I’m born to eat. I love those taste bud sizzlers – Domino’s Pizzas, KFC Chickens, Chinese noodles, Fish Fries (homemade) and Mama’s made Aloo Prathe off-course! I don’t give up, I just simply can’t stop having fun.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>