@model Sixeyed.Iaas.WebApp.Models.ServerDiagnostics

@{
    ViewData["Title"] = "Home Page";
}

<h2>Server Diagnostics</h2>

<div class="row">
    <div class="col-md-2">        
        <ul>
            <li>Machine Name:</li>
            <li>IP addresses:</li>
            <li>Date:</li>
        </ul>
    </div>
    <div class="col-md-8">        
        <ul>
            <li>@Model.MachineName</li>
            <li>@string.Join(",", Model.IpAddressList)</li>
            <li>@Model.MachineDate</li>
        </ul>
    </div>
</div>


<h2>App Diagnostics</h2>

<div class="row">
    <div class="col-md-2">
        <ul>
            <li>App Name:</li>
            <li>App Version:</li>
            <li>Working Directory:</li>
        </ul>
    </div>
    <div class="col-md-8">
        <ul>
            <li>@Model.ApplicationName</li>
            <li>@Model.ApplicationVersionNumber</li>
            <li>@Model.WorkingDirectory</li>
        </ul>
    </div>
</div>

<h2>Culture Diagnostics</h2>

<div class="row">
    <div class="col-md-2">
        <ul>
            <li>Culture:</li>
            <li>TimeZone:</li>
        </ul>
    </div>
    <div class="col-md-8">
        <ul>
            <li>@Model.MachineCulture</li>
            <li>@Model.MachineTimeZone</li>
        </ul>
    </div>
</div>

<script>

    function refresh(milliseconds) { 
          setTimeout("location.reload(true);", milliseconds); 
        } 

    refresh(1000);

</script>